.experts
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-wrap: wrap
  .cont-expert
    width: 30%
    text-align: center
    margin-bottom: 30px
    img
      width: 80%
      display: block
      margin: 0 auto
  .n-expert
    display: inline-block
    margin-top: 20px
    width: 100%
    font-weight: 400