.subtitulo
  text-align: center
  font-weight: 300
  color: colorSecundary
  margin-bottom: 40px
  font-size: 40px

.contenedor-servicio
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-wrap: wrap

.contenedor-servicio img
  width: 40%

.checklist-servicio
  width: 45%

.service
  margin-bottom: 20px

.n-service
  margin-bottom: 7px
  color: colorSecundary

.number
  display: inline-block
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  width: 30px
  height: 30px
  color: colorLight
  text-align: center
  border-radius: 50%
  font-weight: 700
  line-height: 30px
  margin-right: 5px